.gallery		{list-style:none; padding:0px; margin:0px; clear:both; width:100%}
.gallery li	{list-style:none; padding:2px; margin:2px; border:1px solid #999; float:left; vertical-align: center; display: inline;}
.ui-collapsible + fieldset {clear:both}

#imageflippage	{background-color:#000; margin:0px; padding:0px; border:none; height:100%; width:100%}
#tadcontent		{padding:0px; margin:0px; position:relative; background:#000; height:100%; width:100%;}
#imageflipimg	{vertical-align:middle; height:100%; width:100%; z-index:98; background-position:center; background-size:contain; text-align:center; background-repeat:no-repeat }
#imagefliper	{width:100%; top:45px; bottom:0px; position:absolute; z-index:99}
#tadnavi		{position:fixed; top:0px; z-index:100; width:100%; opacity:0.7; display:none }
#tadinfo		{position:fixed; display:none; bottom:0px; width:100%; padding:5px; background-color:#333333; opacity:0.7; color:#FFFFFF; text-align:center; font-size:small; font-family:Verdana, Geneva, sans-serif}
